<!doctype html>
<html ng-app="styleGuideApp" ng-controller="SGMainCtrl">
  <head>
    <title>iui-general Style Guide: Components</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/classname_clicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://medseek-engineering.github.io/iui-table/lib/dist/iui-table.min.js"></script>
    <script src="scripts/style_guide_app.js"></script>
    <script src="../lib/dist/iui-general.min.js"></script>
    <link rel="stylesheet" href="../lib/dist/iui-general.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body role="document" class="sg-body">
    <header class="sg-header clearfix" role="banner">
      <h1 class="sg-title">
        <a href="index.html">
            Influence Health UX Style Guide 1.0
        </a>
      </h1>
      <nav class="navbar navbar-default sg-nav-main">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sg-navbar-main" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="sg-navbar-main">
            <ul class="nav navbar-nav">
              
              <li role="presentation">
                <a role="menuitem" href="globals.html">Globals</a>
              </li>
              
              <li class="active" role="presentation">
                <a role="menuitem" href="components.html">Components</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="filters.html">Filters</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="directives.html">Directives</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="index.html">Overview</a>
              </li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="sg-wrapper clearfix" role="main">
        <aside class="sg-sidebar hidden-xs" role="complementary">
            <nav class="sg-nav-secondary" role="navigation">
                <ul role="menu">
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('b_a_components')">Components</a>
                  </li>
                  
                  <li role="presentation" >
                    <a href="" ng-click="scrollTo('a_accordions')">Accordions</a>
                  </li>
                  
                  <li role="presentation" >
                    <a href="" ng-click="scrollTo('c_dropdowns')">Dropdown Menus</a>
                  </li>
                  
                  <li role="presentation" >
                    <a href="" ng-click="scrollTo('d_expandable_panel')">Expandable Panel</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('b_b_groups')">Groups</a>
                  </li>
                  
                  <li role="presentation" >
                    <a href="" ng-click="scrollTo('d_multi_button_bar')">Multi-Button Bar</a>
                  </li>
                  
                </ul>
            </nav>
        </aside>
        <div class="sg-element-wrapper" id="top">
          <iui-alert-placeholder id="alert_appTop"></iui-alert-placeholder>
<h1 id="b_a_components" class="styleguide">Components</h1>

<ul class="section-nav">
  <li><a href="#a_accordions">Accordions</a></li>
  <li><a href="#c_dropdowns">Dropdown Menus</a></li>
  <li><a href="#d_expandable_panel">Expandable Panel</a></li>
</ul>

<h2 id="a_accordions" class="styleguide">Accordions</h2>
<p class="styleguide">Accordions use the UI Bootstrap <a href="https://angular-ui.github.io/bootstrap/#/accordion" target="_blank">accordion directive</a>.</p><div class="codeExample">
  <div class="exampleOutput">
    <accordion close-others="true">
  <accordion-group heading="Accordion Header" ng-class="{'expanded':isOpen}" is-open="isOpen">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Accordion Header" ng-class="{'expanded':isOpenB}" is-open="isOpenB">
    <p>Content.</p>
  </accordion-group>
</accordion>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;accordion</span> <span class="na">close-others=</span><span class="s">"true"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;accordion-group</span> <span class="na">heading=</span><span class="s">"Accordion Header"</span> <span class="na">ng-class=</span><span class="s">"{'expanded':isOpen}"</span> <span class="na">is-open=</span><span class="s">"isOpen"</span><span class="nt">&gt;</span>
    This content is straight in the template.
  <span class="nt">&lt;/accordion-group&gt;</span>
  <span class="nt">&lt;accordion-group</span> <span class="na">heading=</span><span class="s">"Accordion Header"</span> <span class="na">ng-class=</span><span class="s">"{'expanded':isOpenB}"</span> <span class="na">is-open=</span><span class="s">"isOpenB"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Content.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/accordion-group&gt;</span>
<span class="nt">&lt;/accordion&gt;</span></pre>
    </div>
  </div>
</div>

<h2 id="c_dropdowns" class="styleguide">Dropdown Menus</h2>
<p class="styleguide">There are 2 types of dropdown menus. The Button Dropdown and the Circle Button Dropdown. The Button Dropdown uses  the UI Bootstrap directive <a href="https://angular-ui.github.io/bootstrap/#/dropdown" target="_blank">Dropdown.</a></p><p class="styleguide">On mobile, the circle button dropdown changes to an action sheet style. Add the <code class="styleguide">.as-action-sheet</code> modifier to the parent element with the <code class="styleguide">.dropdown</code> class.</p><p class="styleguide"><strong>Rules of Development</strong></p><ul class="styleguide"><li>All dropdown buttons must default to the <code class="styleguide">.btn-default</code> class for styling.</li>
<li>All dropdown menu items must be separated with a divider.</li>
<li>On mobile, action sheet must always have a Cancel menu item.</li>
</ul>
<h2>Button Dropdown Menu</h2>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="dropdown" dropdown is-open="isOpen">
    <button type="button" role="button" class="btn btn-default" dropdown-toggle>Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="dropdown-menu-id" role="menu">
        <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
        <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
        <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
    </ul>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown"</span> <span class="na">dropdown</span> <span class="na">is-open=</span><span class="s">"isOpen"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span> <span class="na">dropdown-toggle</span><span class="nt">&gt;</span>Actions
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">id=</span><span class="s">"dropdown-menu-id"</span> <span class="na">role=</span><span class="s">"menu"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h2>Circle Button Dropdown Menu</h2>
<p class="styleguide"><em>View this on mobile to see the <code class="styleguide">.as-action-sheet</code> modifier in action.</em></p><div class="codeExample">
  <div class="exampleOutput">
    <div class="row">
    <div class="col-md-2">
        <div class="dropdown circle-button-dropdown-wrapper as-action-sheet" id="circle-dropdown-menu-id" dropdown is-open="isOpen">
            <button class="with-circle-toggle no-btn" role="button" dropdown-toggle>
                <span class="circle-dropdown-label-wrapper">
                    <span class="circle-dropdown-label">More Actions</span>
                    <span class="btn btn-sm dropdown-toggle-circle">
                        <span class="caret"></span>
                    </span>
                </span>
            </button>
            <ul class="dropdown-menu" id="userMenu">
                <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
                <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
                <li role="presentation"><a href="" role="menuitem">Action Item</a></li>
                <li role="presentation"><a href="" role="menuitem">Cancel</a></li>
            </ul>
        </div>
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown circle-button-dropdown-wrapper as-action-sheet"</span> <span class="na">id=</span><span class="s">"circle-dropdown-menu-id"</span> <span class="na">dropdown</span> <span class="na">is-open=</span><span class="s">"isOpen"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"with-circle-toggle no-btn"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">dropdown-toggle</span><span class="nt">&gt;</span>
                <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"circle-dropdown-label-wrapper"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"circle-dropdown-label"</span><span class="nt">&gt;</span>More Actions<span class="nt">&lt;/span&gt;</span>
                    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"btn btn-sm dropdown-toggle-circle"</span><span class="nt">&gt;</span>
                        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;</span>
                    <span class="nt">&lt;/span&gt;</span>
                <span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">id=</span><span class="s">"userMenu"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Action Item<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">role=</span><span class="s">"menuitem"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h2 id="d_expandable_panel" class="styleguide">Expandable Panel</h2>
<p class="styleguide">The Expandable Panel component is a simple alternative to an accordion. This allows for greater control over what content goes inside the expandable panel, in the panel header, and even allows for additional controls to be placed on the panel heading bar, such as a More or Actions dropdown which would be difficult to accomplish with Bootstrap&#39;s standard Accordion.</p><p class="styleguide"><strong>Rules of Development</strong></p><ul class="styleguide"><li>Right edge of expandable panel must be flush with right edge of window (Not shown in this example)</li>
<li>Panel background color changes to grey on expanded state</li>
<li>The &quot;More&quot; dropdown on the right side of panel should only contain actions that are appliable to the panel itself</li>
</ul><div class="codeExample">
  <div class="exampleOutput">
    <div class="exp-panel-wrapper">
<article class="expandable-panel" ng-class="{'is-expanded': toggleExpandedPanel}">
    <header class="exp-panel-header">
        <div class="exp-panel-description">
            <h2 class="exp-panel-heading">Panel Heading</h2>
      <span class="exp-panel-detail-info">Other info</span>
            <p class="description">Panel subheading or descriptor text</p>
        </div>
        <span class="exp-panel-actions">
            <a href="" ng-click="toggleExpandedPanel = !toggleExpandedPanel">
                <span ng-if="!toggleExpandedPanel">Edit</span>
                <span ng-if="toggleExpandedPanel">Close</span>
            </a>
        </span>
    <div class="exp-panel-more-options dropdown" dropdown>
            <button type="button" role="button" class="no-btn" dropdown-toggle>
                More
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="">Duplicate</a>
                </li>
                <li>
                    <a href="">Remove</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="exp-panel-content" collapse="!toggleExpandedPanel">
    <p>Works great with a form!</p>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="exp_panel_name">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exp_panel_name" placeholder="Required" />
            </div>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label class="control-label col-sm-3" for="exp_panel_name">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="exp_panel_name" placeholder="Required" />
            </div>
          </div>
          <div class="form-group">
            <div class="multi-button-bar">
              <button type="button" role="button" class="btn btn-primary">Ok</button>
              <button type="button" role="button" class="btn btn-default">Cancel</button>
            </div>
          </div><!-- /.form-group -->
        </form>
      </div>
    </div><!-- /.row -->
    </section>
</article>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"exp-panel-wrapper"</span><span class="nt">&gt;</span>
<span class="nt">&lt;article</span> <span class="na">class=</span><span class="s">"expandable-panel"</span> <span class="na">ng-class=</span><span class="s">"{'is-expanded': toggleExpandedPanel}"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">"exp-panel-header"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"exp-panel-description"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"exp-panel-heading"</span><span class="nt">&gt;</span>Panel Heading<span class="nt">&lt;/h2&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"exp-panel-detail-info"</span><span class="nt">&gt;</span>Other info<span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"description"</span><span class="nt">&gt;</span>Panel subheading or descriptor text<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"exp-panel-actions"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">""</span> <span class="na">ng-click=</span><span class="s">"toggleExpandedPanel = !toggleExpandedPanel"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;span</span> <span class="na">ng-if=</span><span class="s">"!toggleExpandedPanel"</span><span class="nt">&gt;</span>Edit<span class="nt">&lt;/span&gt;</span>
                <span class="nt">&lt;span</span> <span class="na">ng-if=</span><span class="s">"toggleExpandedPanel"</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"exp-panel-more-options dropdown"</span> <span class="na">dropdown</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"no-btn"</span> <span class="na">dropdown-toggle</span><span class="nt">&gt;</span>
                More
                <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;</span>
            <span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;li&gt;</span>
                    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">""</span><span class="nt">&gt;</span>Duplicate<span class="nt">&lt;/a&gt;</span>
                <span class="nt">&lt;/li&gt;</span>
                <span class="nt">&lt;li&gt;</span>
                    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">""</span><span class="nt">&gt;</span>Remove<span class="nt">&lt;/a&gt;</span>
                <span class="nt">&lt;/li&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/header&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"exp-panel-content"</span> <span class="na">collapse=</span><span class="s">"!toggleExpandedPanel"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Works great with a form!<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"form-horizontal"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"control-label col-sm-3"</span> <span class="na">for=</span><span class="s">"exp_panel_name"</span><span class="nt">&gt;</span>Name<span class="nt">&lt;/label&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-9"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exp_panel_name"</span> <span class="na">placeholder=</span><span class="s">"Required"</span> <span class="nt">/&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;/div&gt;</span><span class="c">&lt;!-- /.form-group --&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"control-label col-sm-3"</span> <span class="na">for=</span><span class="s">"exp_panel_name"</span><span class="nt">&gt;</span>Email<span class="nt">&lt;/label&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-9"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exp_panel_name"</span> <span class="na">placeholder=</span><span class="s">"Required"</span> <span class="nt">/&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"multi-button-bar"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Ok<span class="nt">&lt;/button&gt;</span>
              <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
          <span class="nt">&lt;/div&gt;</span><span class="c">&lt;!-- /.form-group --&gt;</span>
        <span class="nt">&lt;/form&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span><span class="c">&lt;!-- /.row --&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;/article&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="b_b_groups" class="styleguide">Groups</h1>

<ul class="section-nav">
  <li><a href="#d_multi_button_bar">Multi-Button Bar</a></li>
</ul>

<h2 id="d_multi_button_bar" class="styleguide">Multi-Button Bar</h2>
<p class="styleguide">The <code class="styleguide">.multi-button-bar</code> class groups 2 or more buttons and floats them to the right. Modal dialogs, forms, and anything that may require 2 or more actions must use the <code class="styleguide">.multi-button-bar</code>.</p><div class="codeExample">
  <div class="exampleOutput">
      <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Some content.
        </div>
        <div class="panel-footer">
          <div class="multi-button-bar">
            <button role="button" type="button" class="btn btn-primary">Save</button>
            <button role="button" type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel panel-default"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-body"</span><span class="nt">&gt;</span>
          Some content.
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-footer"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"multi-button-bar"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Save<span class="nt">&lt;/button&gt;</span>
            <span class="nt">&lt;button</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/button&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

    </div>
    <!-- MOBILE ONLY SIDENAV -->
    <aside class="sg-sidebar visible-xs" role="complementary">
        <nav class="sg-nav-secondary" role="navigation">
            <ul role="menu">
                
                <li role="presentation"><a href="#b_a_components">Components</a></li>
                
                <li role="presentation"><a href="#a_accordions">Accordions</a></li>
                
                <li role="presentation"><a href="#c_dropdowns">Dropdown Menus</a></li>
                
                <li role="presentation"><a href="#d_expandable_panel">Expandable Panel</a></li>
                
                <li role="presentation"><a href="#b_b_groups">Groups</a></li>
                
                <li role="presentation"><a href="#d_multi_button_bar">Multi-Button Bar</a></li>
                
            </ul>
        </nav>
    </aside>
    </main>    

  </body>
</html>
