<!doctype html>
<html ng-app="styleGuideApp" ng-controller="SGMainCtrl">
  <head>
    <title>iui-general Style Guide: Directives</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/classname_clicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://medseek-engineering.github.io/iui-table/lib/dist/iui-table.min.js"></script>
    <script src="scripts/style_guide_app.js"></script>
    <script src="../lib/dist/iui-general.min.js"></script>
    <link rel="stylesheet" href="../lib/dist/iui-general.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body role="document" class="sg-body">
    <header class="sg-header clearfix" role="banner">
      <h1 class="sg-title">
        <a href="index.html">
            Influence Health UX Style Guide 1.0
        </a>
      </h1>
      <nav class="navbar navbar-default sg-nav-main">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sg-navbar-main" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="sg-navbar-main">
            <ul class="nav navbar-nav">
              
              <li role="presentation">
                <a role="menuitem" href="globals.html">Globals</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="components.html">Components</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="filters.html">Filters</a>
              </li>
              
              <li class="active" role="presentation">
                <a role="menuitem" href="directives.html">Directives</a>
              </li>
              
              <li role="presentation">
                <a role="menuitem" href="index.html">Overview</a>
              </li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="sg-wrapper clearfix" role="main">
        <aside class="sg-sidebar hidden-xs" role="complementary">
            <nav class="sg-nav-secondary" role="navigation">
                <ul role="menu">
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-input-field-highlight')">iui-input-field-highlight</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-label-indicator')">iui-label-indicator</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-minlength')">iui-minlength</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-must-match')">iui-must-match</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-page-header')">iui-page-header</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-profile-image')">iui-profile-image</a>
                  </li>
                  
                  <li role="presentation" class='sg-is-parent-item'>
                    <a href="" ng-click="scrollTo('iui-stepper')">iui-stepper</a>
                  </li>
                  
                </ul>
            </nav>
        </aside>
        <div class="sg-element-wrapper" id="top">
          <iui-alert-placeholder id="alert_appTop"></iui-alert-placeholder>
<h1 id="iui-input-field-highlight" class="styleguide">iui-input-field-highlight</h1>
<p class="styleguide">This directive, iui-input-field-highlight, looks for the focus state
on various input types, and applies a bg color change to keep the
user&#39;s attention on the section. It also separates each section without
the use of borders.</p><div class="codeExample">
  <div class="exampleOutput">
    <section class="panel panel-default" iui-input-field-highlight>
  <div class="panel-body">
    <div class="form-group">
      <input
        class="form-control"
        aria-label="Field 1"
        placeholder="Field 1"
        type="text">
    </div>
    <div class="form-group">
      <input
        class="form-control"
        aria-label="Field 2"
        placeholder="Field 2"
        type="text">
    </div>
  </div>
</section>
<section class="panel panel-default" iui-input-field-highlight>
  <div class="panel-body">
    <div class="form-group">
      <input
        class="form-control"
        aria-label="Field 3"
        placeholder="Field 3"
        type="text">
    </div>
    <div class="form-group">
      <input
        class="form-control"
        aria-label="Field 4"
        placeholder="Field 4"
        type="text">
    </div>
  </div>
</section>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"panel panel-default"</span> <span class="na">iui-input-field-highlight</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;input</span>
        <span class="na">class=</span><span class="s">"form-control"</span>
        <span class="na">aria-label=</span><span class="s">"Field 1"</span>
        <span class="na">placeholder=</span><span class="s">"Field 1"</span>
        <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;input</span>
        <span class="na">class=</span><span class="s">"form-control"</span>
        <span class="na">aria-label=</span><span class="s">"Field 2"</span>
        <span class="na">placeholder=</span><span class="s">"Field 2"</span>
        <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"panel panel-default"</span> <span class="na">iui-input-field-highlight</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;input</span>
        <span class="na">class=</span><span class="s">"form-control"</span>
        <span class="na">aria-label=</span><span class="s">"Field 3"</span>
        <span class="na">placeholder=</span><span class="s">"Field 3"</span>
        <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;input</span>
        <span class="na">class=</span><span class="s">"form-control"</span>
        <span class="na">aria-label=</span><span class="s">"Field 4"</span>
        <span class="na">placeholder=</span><span class="s">"Field 4"</span>
        <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/section&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="iui-label-indicator" class="styleguide">iui-label-indicator</h1>
<p class="styleguide">iui-label-indicator is a small circle dot indicator with a question mark that is usually seen next to a label. This indicator allows for more information to be attached to a label in case there is no room to allow for a help block or descriptor text. Upon hovering over the label indicator, a tooltip will appear with the descriptor text.</p>
<table class="table responsive">
  <caption>Options for iui-label-indicator</caption>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>tooltip-data</code></td>
      <td>Any</td>
      <td>Must be set</td>
      <td>This is the help text message that is to be displayed in the indicator's tooltip.</td>
    </tr>
    <tr>
      <td><code>is-warning-label</code></td>
      <td>Boolean</td>
      <td>false</td>
      <td>if set to true, will change the color of the circle dot to the orange warning color to indicate a warning message.</td>
    </tr>
  </tbody>
</table>
<div class="codeExample">
  <div class="exampleOutput">
    <div ng-controller="labelIndicatorCtrl">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="indicator_example" class="col-sm-2 control-label">
        Email Address (Normal)<iui-label-indicator tooltip-data="tooltipMessage"></iui-label-indicator>
      </label>
      <div class="col-sm-4">
        <input type="email" id="indicator_example" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="indicator_example" class="col-sm-2 control-label">
        Email Address (Warning)<iui-label-indicator tooltip-data="tooltipWarningMessage" is-warning-label="true"></iui-label-indicator>
      </label>
      <div class="col-sm-4">
        <input type="email" id="indicator_example" class="form-control">
      </div>
    </div>
  </form>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"labelIndicatorCtrl"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"form-horizontal"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"indicator_example"</span> <span class="na">class=</span><span class="s">"col-sm-2 control-label"</span><span class="nt">&gt;</span>
        Email Address (Normal)<span class="nt">&lt;iui-label-indicator</span> <span class="na">tooltip-data=</span><span class="s">"tooltipMessage"</span><span class="nt">&gt;&lt;/iui-label-indicator&gt;</span>
      <span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">id=</span><span class="s">"indicator_example"</span> <span class="na">class=</span><span class="s">"form-control"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"indicator_example"</span> <span class="na">class=</span><span class="s">"col-sm-2 control-label"</span><span class="nt">&gt;</span>
        Email Address (Warning)<span class="nt">&lt;iui-label-indicator</span> <span class="na">tooltip-data=</span><span class="s">"tooltipWarningMessage"</span> <span class="na">is-warning-label=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/iui-label-indicator&gt;</span>
      <span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-4"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">id=</span><span class="s">"indicator_example"</span> <span class="na">class=</span><span class="s">"form-control"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/form&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
<script>app.controller('labelIndicatorCtrl', ['$scope', function(scope) {
  scope.tooltipMessage = 'This here is some help text for an email field.';
  scope.tooltipWarningMessage = 'Hold up! Something needs to be addressed here.';
}]);
</script>
<div class="codeBlock jsExample">
  <div class="highlight">
    <pre><span class="nx">app</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'labelIndicatorCtrl'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'$scope'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">tooltipMessage</span> <span class="o">=</span> <span class="s1">'This here is some help text for an email field.'</span><span class="p">;</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">tooltipWarningMessage</span> <span class="o">=</span> <span class="s1">'Hold up! Something needs to be addressed here.'</span><span class="p">;</span>
<span class="p">}]);</span></pre>
  </div>
</div>


<h1 id="iui-minlength" class="styleguide">iui-minlength</h1>
<p class="styleguide">Angular&#39;s minlength directive does not $observe or $eval the value of ngMinlength in Angular 1.2</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="form-group" ng-form name="minlengthExample">
  <input
    class="form-control"
    aria-label="Text field 1"
    name="textField1"
    placeholder="This field has 10 character minlength"
    type="text"
    ng-model="iuiTextField"
    iui-minlength="10">
  <p ng-show="minlengthExample.textField1.$error.minlength">Field must contain 10 characters</p>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span> <span class="na">ng-form</span> <span class="na">name=</span><span class="s">"minlengthExample"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span>
    <span class="na">class=</span><span class="s">"form-control"</span>
    <span class="na">aria-label=</span><span class="s">"Text field 1"</span>
    <span class="na">name=</span><span class="s">"textField1"</span>
    <span class="na">placeholder=</span><span class="s">"This field has 10 character minlength"</span>
    <span class="na">type=</span><span class="s">"text"</span>
    <span class="na">ng-model=</span><span class="s">"iuiTextField"</span>
    <span class="na">iui-minlength=</span><span class="s">"10"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">ng-show=</span><span class="s">"minlengthExample.textField1.$error.minlength"</span><span class="nt">&gt;</span>Field must contain 10 characters<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="iui-must-match" class="styleguide">iui-must-match</h1>
<p class="styleguide">Provides validation when two fields need to be the same (like matching passwords)</p><div class="codeExample">
  <div class="exampleOutput">
    <fieldset ng-form name="mustMatchExample">
  <legend class="sr-only">Field 1 must match Field 2</legend>
  <div class="form-group">
    <input
      class="form-control"
      aria-label="Text field 1"
      name="matchTextField"
      placeholder="This is the origination field"
      type="text"
      ng-model="iuiMatchTextField1">
  </div>
  <div class="form-group">
    <input
      class="form-control"
      aria-label="Text field 2"
      name="matchTextField2"
      placeholder="This field must match the field above"
      type="text"
      iui-must-match="iuiMatchTextField1"
      ng-model="iuiMatchTextField2">
    <p class="help-block" ng-if="mustMatchExample.matchTextField2.$error.mustMatch">This field must match the field above</p>
  </div>
</fieldset>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;fieldset</span> <span class="na">ng-form</span> <span class="na">name=</span><span class="s">"mustMatchExample"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;legend</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>Field 1 must match Field 2<span class="nt">&lt;/legend&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span>
      <span class="na">class=</span><span class="s">"form-control"</span>
      <span class="na">aria-label=</span><span class="s">"Text field 1"</span>
      <span class="na">name=</span><span class="s">"matchTextField"</span>
      <span class="na">placeholder=</span><span class="s">"This is the origination field"</span>
      <span class="na">type=</span><span class="s">"text"</span>
      <span class="na">ng-model=</span><span class="s">"iuiMatchTextField1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span>
      <span class="na">class=</span><span class="s">"form-control"</span>
      <span class="na">aria-label=</span><span class="s">"Text field 2"</span>
      <span class="na">name=</span><span class="s">"matchTextField2"</span>
      <span class="na">placeholder=</span><span class="s">"This field must match the field above"</span>
      <span class="na">type=</span><span class="s">"text"</span>
      <span class="na">iui-must-match=</span><span class="s">"iuiMatchTextField1"</span>
      <span class="na">ng-model=</span><span class="s">"iuiMatchTextField2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"help-block"</span> <span class="na">ng-if=</span><span class="s">"mustMatchExample.matchTextField2.$error.mustMatch"</span><span class="nt">&gt;</span>This field must match the field above<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/fieldset&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="iui-page-header" class="styleguide">iui-page-header</h1>
<p class="styleguide">General page header to be used on every page</p><div class="codeExample">
  <div class="exampleOutput">
    <div ng-controller="pageHeaderController">
  <iui-page-header breadcrumb="breadcrumb" heading-text="{{headingText}}"></iui-page-header>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"pageHeaderController"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;iui-page-header</span> <span class="na">breadcrumb=</span><span class="s">"breadcrumb"</span> <span class="na">heading-text=</span><span class="s">"{{headingText}}"</span><span class="nt">&gt;&lt;/iui-page-header&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
<script>app.controller('pageHeaderController', ['$scope', function(scope) {
  scope.breadcrumb = [
    {name: 'Health Information', url: '/my-health-information/'},
    {name: 'Health Trackers', url: '/my-health-information/health-trackers/'}
  ];
  scope.headingText = 'This is a page header';
}]);
</script>
<div class="codeBlock jsExample">
  <div class="highlight">
    <pre><span class="nx">app</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'pageHeaderController'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'$scope'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">breadcrumb</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span><span class="na">name</span><span class="p">:</span> <span class="s1">'Health Information'</span><span class="p">,</span> <span class="na">url</span><span class="p">:</span> <span class="s1">'/my-health-information/'</span><span class="p">},</span>
    <span class="p">{</span><span class="na">name</span><span class="p">:</span> <span class="s1">'Health Trackers'</span><span class="p">,</span> <span class="na">url</span><span class="p">:</span> <span class="s1">'/my-health-information/health-trackers/'</span><span class="p">}</span>
  <span class="p">];</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">headingText</span> <span class="o">=</span> <span class="s1">'This is a page header'</span><span class="p">;</span>
<span class="p">}]);</span></pre>
  </div>
</div>


<h1 id="iui-profile-image" class="styleguide">iui-profile-image</h1>
<p class="styleguide">for showing profile images</p>
<table class="table responsive">
  <caption>Options for iui-stepper</caption>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>iui-image</code></td>
      <td>String</td>
      <td>image data in a base64 string</td>
    </tr>
    <tr>
      <td><code>iui-gender</code></td>
      <td>Integer</td>
      <td>gender of individual. 0 for undefined, 1 for male, 2 for female</td>
    </tr>
  </tbody>
</table>

<h2>Dependencies</h2>
<p class="styleguide"><code>genderFilter</code></p><div class="codeExample">
  <div class="exampleOutput">
    <iui-profile-image class="user-image" iui-image="profile.image" iui-gender="profile.gender"></iui-profile-image>
<iui-profile-image class="user-image" iui-image="" iui-gender="profile.gender"></iui-profile-image>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;iui-profile-image</span> <span class="na">class=</span><span class="s">"user-image"</span> <span class="na">iui-image=</span><span class="s">"profile.image"</span> <span class="na">iui-gender=</span><span class="s">"profile.gender"</span><span class="nt">&gt;&lt;/iui-profile-image&gt;</span>
<span class="nt">&lt;iui-profile-image</span> <span class="na">class=</span><span class="s">"user-image"</span> <span class="na">iui-image=</span><span class="s">""</span> <span class="na">iui-gender=</span><span class="s">"profile.gender"</span><span class="nt">&gt;&lt;/iui-profile-image&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="iui-stepper" class="styleguide">iui-stepper</h1>
<p class="styleguide">Standard stepper button to allow incrementing or decrementing a numerical value.</p>
<table class="table responsive">
  <caption>Options for iui-stepper</caption>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>ng-model</code></td>
      <td>Variable</td>
      <td>Must be set</td>
      <td>ngModel will tie functionality to the value determined in the stepper, therefore, it is required to make it work.</td>
    </tr>
    <tr>
      <td><code>min-value</code></td>
      <td>Integer</td>
      <td>0</td>
      <td>Sets a minimum integer value. If not set, will default to 0.</td>
    </tr>
    <tr>
      <td><code>max-value</code></td>
      <td>Integer</td>
      <td>None</td>
      <td>Sets a ceiling to the value that can be incremented.</td>
    </tr>
    <tr>
      <td><code>increment-by</code></td>
      <td>Integer</td>
      <td>1</td>
      <td>In the case where you need to increment by multiples of an integer. Set to 1 by default.</td>
    </tr>
    <tr>
      <td><code>stepper-id</code></td>
      <td>String</td>
      <td>None</td>
      <td>Pass in a unique identifier for linking form input to label.</td>
    </tr>
  </tbody>
</table>
<div class="codeExample">
  <div class="exampleOutput">
    <div ng-controller="StepperCtrl">
  <iui-stepper
    ng-model="newValue"
    min-value="minValue"
    max-value="maxValue"
    increment-by="incrementBy"
    stepper-id="stepper_value">
  </iui-stepper>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight" ng-non-bindable>
      <pre><span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"StepperCtrl"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;iui-stepper</span>
    <span class="na">ng-model=</span><span class="s">"newValue"</span>
    <span class="na">min-value=</span><span class="s">"minValue"</span>
    <span class="na">max-value=</span><span class="s">"maxValue"</span>
    <span class="na">increment-by=</span><span class="s">"incrementBy"</span>
    <span class="na">stepper-id=</span><span class="s">"stepper_value"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/iui-stepper&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
<script>app.controller('StepperCtrl', ['$scope', function(scope) {
  scope.newValue = 5;
  scope.minValue = 0;
  scope.maxValue = 50;
  scope.incrementBy = 3;
}]);
</script>
<div class="codeBlock jsExample">
  <div class="highlight">
    <pre><span class="nx">app</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'StepperCtrl'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'$scope'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">newValue</span> <span class="o">=</span> <span class="mi">5</span><span class="p">;</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">minValue</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">maxValue</span> <span class="o">=</span> <span class="mi">50</span><span class="p">;</span>
  <span class="nx">scope</span><span class="p">.</span><span class="nx">incrementBy</span> <span class="o">=</span> <span class="mi">3</span><span class="p">;</span>
<span class="p">}]);</span></pre>
  </div>
</div>


    </div>
    <!-- MOBILE ONLY SIDENAV -->
    <aside class="sg-sidebar visible-xs" role="complementary">
        <nav class="sg-nav-secondary" role="navigation">
            <ul role="menu">
                
                <li role="presentation"><a href="#iui-input-field-highlight">iui-input-field-highlight</a></li>
                
                <li role="presentation"><a href="#iui-label-indicator">iui-label-indicator</a></li>
                
                <li role="presentation"><a href="#iui-minlength">iui-minlength</a></li>
                
                <li role="presentation"><a href="#iui-must-match">iui-must-match</a></li>
                
                <li role="presentation"><a href="#iui-page-header">iui-page-header</a></li>
                
                <li role="presentation"><a href="#iui-profile-image">iui-profile-image</a></li>
                
                <li role="presentation"><a href="#iui-stepper">iui-stepper</a></li>
                
            </ul>
        </nav>
    </aside>
    </main>    

  </body>
</html>
